{% block header %}
  <title>form</title>
{% endblock %}

{% block content %}
  <form method="post" action="http://127.0.0.1:7001/blog/api/signIn">
    <input name="userName" placeholder="name"/>
    <input name="password" placeholder="password"/>
    <button type="submit">提交</button>
    <button type="reset">重置</button>
  </form>
  <script>
    function signIn() {
      return fetch('http://127.0.0.1:7001/blog/api/signIn', {
        method: 'post',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'x-blog-token': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiYjljMDJlYjgtZmEyMi00MWYzLWE3ODgtMjRhN2ViNWU3ZWE4Iiwicm9sZSI6ImFkbWluIn0sImV4cCI6MTU2NjIwNTgwMywiaWF0IjoxNTY1NjAxMDAzfQ.eeTxVOGRGvzPi4Zxazjo2zQrVSi7Iq83lZlbux1hBsiD_Byln19xhYdU_T6EWpU6W78n77njWxuG35Q2e7ZrlKbwW8AwCXxFPUH9ogi_WycCRs-Ckd9wpR8lXrpJFm59wi7NkljOk_-h821lZzTAUIfhVpn16ggkujCYPqTR0zE'
        },
        body: 'userName=admin1&password=123456'
      }).then(res => {
        return res.text()
      })
    }
    signIn().then(data => {
      console.log(data)
    })
    setTimeout(() => {
      window
        .location
        .reload()
    }, 100000)
  </script>
{% endblock %}